html,
body {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #000;
    color: white;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, black, rgb(40, 0, 100), black);
    background-attachment: fixed;
    box-shadow: inset 0px 0px 100px 50px rgb(15, 0, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}

body * {
    box-sizing: border-box;
}

::selection {
    background-color: rgb(40, 0, 100);
    /* Gul bakgrund */
    color: rgba(255, 0, 200, 1);
    /* Svart text */
}

#time-to-move-small {
    display: flex;
    column-gap: 1vw;
    padding: 0 1vw;
    border-bottom: solid 1px rgba(255, 0, 200, 1);
    margin-bottom: 60px !important;
}

#time-to-move {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(255, 0, 200, 1);
    /* font-size: 66px; */
    font-size: 11vw;
    line-height: 10vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    white-space: nowrap;
}

#time-to-move .small-text {
    /* line-height: 26px; */
    /* font-size: 26px; */
    font-size: 5vw;
    line-height: 5vw;
    justify-content: center;
}

#time-to-move div {
    margin-bottom: 10px;
    flex-wrap: wrap;
}

@media (min-width: 769px) {

    #time-to-move {
        font-size: 85px;
        line-height: 77px;
        letter-spacing: 3px;
    }

    #time-to-move .small-text {
        font-size: 38px;
        line-height: 38px;
    }

}